.phone {
    color:yellow;
    .brand {
        color:blue;
    }
    .desc {
        color:purple;
    }
    .ok-recon {
        color: red;       
    }
    .not-ok-recon {
        color: green;
    }
}